.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal h1 {
  text-transform: none
}

.reveal h2 {
  text-transform: none
}

.reveal h3 {
  text-transform: none
}

.reveal h4 {
  text-transform: none
}